<h4>Term: <%= @term.term %></h4>

<h3>Definitions:</h3>


  <% if @term.definitions.any? %>
      <ol>
        <% @term.definitions.each do |definition| %>
          <li><a href="/terms/<%= @term.id %>/definitions/<%= definition.id %>"><%= definition.definition %></a></li>
        <% end %>
      </ol>
    <% else %>
      <p>There are no definitions for this board yet.</p>
    <% end %>



  <h4>Add a Defintion:</h4>

  <form action="/terms/<%= @term.id %>/definitions" method="post">
  <div class="form-group">
    <label for="definition">Definition:</label>
    <textarea name="definition" rows="8" cols="80" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn">Define!</button>
</form>

<p><a href="/terms/<%= @term.id %>/edit">Edit Term</a></p>
<a href="/">Return to term list</a>
